<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Enduring Home Solutions (EHS) provides skilled home safety assessments to identify fall risks, 
        accessibility barriers and potential safety hazards.   EHS brings a therapist’s perspective, 
        and an understanding of physical capabilities and disease progression to your home. </p>
      </div>
      <div class="col-lg-4">
        <p>Our goal is to help our clients have a long lasting relationship with their homes.  
        EHS provides consultations to help our clients make thoughtful and adaptable improvements.  
        Live safely and confidently today by partnering with Enduring Home Solutions. </p>
      </div>
      
      </div>
    </div>
  </div>
</section>
