<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Enduring Home Solutions started with a brother and sister sitting on a couch discussing recent homes of clients and loved ones who no longer have the safe access to complete their usual daily activities.  A desire to intervene was created. Soon after, Enduring Home Solutions was born with the goal of bringing a therapist's perspective to the home remodeling world to improve the customized access and safety that people deserve. As therapists, we are able to skillfully assess our clients needs to make sure a space is comfortable and safe for you.  We are a client first approach where we look at what your needs are first and then how the space can be fit to meet those needs.  Standard installation may not work for you.   </p>
      </div>
      <div class="col-lg-4">
        <p>We’ve been with clients when they realize they can’t go home yet from the hospital because they can’t get in or out of their home in a wheelchair, or can’t get into their main bath or shower because it’s not accessible for them at that time.  This does not mean your home needs to look like a hospital room.  We can help you design a space that is both beautiful, and accessible. Perhaps you are not ready for major changes but need help with what minimal changes or products will be of maximum benefit.  We can do that too, by utilizing thorough home safety assessments we will be able to decrease your risk for falls and improve the accessibility of your home.  Partner with Enduring Home Solutions to live safely and confidently today! </p>
      </div>
      
      </div>
    </div>
  </div>
</section>
