<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Enduring Home Solutions was born out of a heartfelt conversation between a brother and sister, both passionate physical and occupational therapists, who recognized a pressing need in the homes of their clients and loved ones. They saw the challenges these individuals faced, struggling to maintain their independence due to limited access and safety concerns. Driven by a desire to make a difference, they established Enduring Home Solutions, dedicated to bringing a therapist's discerning perspective to the world of home remodeling. Our mission is simple yet profound: to provide customized modifications that go beyond ADA and Universal Design standards, ensuring that your home is not just accessible but tailored to your unique needs. We understand that one size does not fit all, and we approach every project with a commitment to improving your quality of life.
   </p>
      </div>
      <div class="col-lg-4">
        <p>At Enduring Home Solutions, our client-first approach means that we prioritize your needs and preferences above all else. We know that standard installations often fall short of addressing your specific requirements, which is why we offer comprehensive home safety assessments to create a space that is not only safe but also beautiful and functional. We've been there when clients faced the daunting reality of being unable to return home due to mobility challenges, and we've witnessed the relief in their eyes when we make their homes accessible without compromising on aesthetics. Our dedication to going beyond ADA and Universal Design concepts ensures that your home modifications are uniquely tailored to you, helping you live safely and confidently. Partner with us, and let Enduring Home Solutions transform your living space into a place where accessibility meets individuality, enhancing your everyday life. </p>
      </div>
      
      </div>
    </div>
  </div>
</section>
